
$icons: (
  // Icomoon Icons
  copy-fill-visibility: '\eaa2',
  serial-number-empty: '\eaa1',
  activity: '\e900',
  alert-circle: '\e901',
  alert-circle-fill: '\e902',
  alert-search: '\e903',
  alert-triangle: '\e904',
  alert-triangle-fill: '\e905',
  all-done: '\e906',
  archive: '\e907',
  archive-fill: '\e908',
  arrow-circle-down: '\e909',
  arrow-circle-down-fill: '\e90a',
  arrow-circle-left: '\e90b',
  arrow-circle-left-fill: '\e90c',
  arrow-circle-right: '\e90d',
  arrow-circle-right-fill: '\e90e',
  arrow-circle-up: '\e90f',
  arrow-circle-up-fill: '\e910',
  arrow-down: '\e911',
  arrow-down-fill: '\e912',
  arrow-forward: '\e913',
  arrowhead-down: '\e914',
  arrowhead-left: '\e915',
  arrowhead-right: '\e916',
  arrowhead-up: '\e917',
  arrow-ios-down: '\e918',
  arrow-ios-left: '\e919',
  arrow-ios-right: '\e91a',
  arrow-ios-up: '\e91b',
  arrow-left: '\e91c',
  arrow-right: '\e91d',
  arrow-right-fill: '\e91e',
  arrow-up: '\e91f',
  arrow-up-fill: '\e920',
  arrrow-left: '\e921',
  arrrow-left-fill: '\e922',
  at: '\e923',
  at-fill: '\e924',
  attach: '\e925',
  attach-2: '\e926',
  award: '\e927',
  award-fill: '\e928',
  backspace: '\e929',
  backspace-fill: '\e92a',
  bar-chart: '\e92b',
  bar-chart-2: '\e92c',
  battery: '\e92d',
  battery-fill: '\e92e',
  batttery-charging: '\e92f',
  batttery-charging-fill: '\e930',
  behance: '\e931',
  behance-fill: '\e932',
  bell: '\e933',
  bell-fill: '\e934',
  bell-off: '\e935',
  bell-off-fill: '\e936',
  bluetooth: '\e937',
  book: '\e938',
  book-fill: '\e939',
  bookmark: '\e93a',
  bookmark-fill: '\e93b',
  book-open: '\e93c',
  book-open-fill: '\e93d',
  box: '\e93e',
  box-info: '\e93f',
  briefcase: '\e940',
  briefcase-fill: '\e941',
  browser: '\e942',
  browser-fill: '\e943',
  brush: '\e944',
  brush-fill: '\e945',
  bulb: '\e946',
  bulb-fill: '\e947',
  calendar: '\e948',
  calendar-fill: '\e949',
  camera: '\e94a',
  camera-fill: '\e94b',
  car: '\e94c',
  car-fill: '\e94d',
  cast: '\e94e',
  chart-increase: '\e94f',
  chat: '\e950',
  checkmark: '\e951',
  checkmark-circle: '\e952',
  checkmark-circle-2: '\e953',
  checkmark-circle-fill: '\e954',
  checkmark-square: '\e955',
  checkmark-square-2: '\e956',
  checkmark-square-fill: '\e957',
  chevron-down: '\e958',
  chevron-left: '\e959',
  chevron-right: '\e95a',
  chevron-up: '\e95b',
  clipboard: '\e95c',
  clipboard-fill: '\e95d',
  clock: '\e95e',
  clock-fill: '\e95f',
  close: '\e960',
  close-circle: '\e961',
  close-circle-fill: '\e962',
  close-square-fill: '\e963',
  cloud-download: '\e964',
  cloud-download-fill: '\e965',
  cloud-upload: '\e966',
  cloud-upload-fill: '\e967',
  code: '\e968',
  code-download: '\e969',
  collapse: '\e96a',
  color-palette: '\e96b',
  color-palette-fill: '\e96c',
  color-picker: '\e96d',
  color-picker-fill: '\e96e',
  compass: '\e96f',
  compass-fill: '\e970',
  copy: '\e971',
  copy-fill: '\e972',
  corner-down-left: '\e973',
  corner-down-right: '\e974',
  corner-left-down: '\e975',
  corner-left-up: '\e976',
  corner-right-down: '\e977',
  corner-right-up: '\e978',
  corner-up-left: '\e979',
  corner-up-right: '\e97a',
  credit-card: '\e97b',
  credit-card-fill: '\e97c',
  crop: '\e97d',
  cube: '\e97e',
  cube-fill: '\e97f',
  diagonal-arrow-left-down: '\e980',
  diagonal-arrow-left-up: '\e981',
  diagonal-arrow-right-down: '\e982',
  diagonal-arrow-right-up: '\e983',
  download: '\e984',
  droplet: '\e985',
  droplet-fill: '\e986',
  droplet-off: '\e987',
  droplet-off-fill: '\e988',
  edit: '\e989',
  edit-2: '\e98a',
  edit-2-fill: '\e98b',
  edit-fill: '\e98c',
  email: '\e98d',
  email-fill: '\e98e',
  expand: '\e98f',
  external-link: '\e990',
  eye: '\e991',
  eye-fill: '\e992',
  eye-off: '\e993',
  eye-off-2: '\e994',
  eye-off-fill: '\e995',
  facebook: '\e996',
  facebook-fill: '\e997',
  file: '\e998',
  file-add: '\e999',
  file-add-fill: '\e99a',
  file-bar: '\e99b',
  file-check: '\e99c',
  file-fill: '\e99d',
  file-info: '\e99e',
  file-remove: '\e99f',
  file-remove-fill: '\e9a0',
  file-text: '\e9a1',
  file-text-fill: '\e9a2',
  film: '\e9a3',
  film-fill: '\e9a4',
  fire: '\e9a5',
  fire-fill: '\e9a6',
  flag: '\e9a7',
  flag-fill: '\e9a8',
  flash: '\e9a9',
  flash-fill: '\e9aa',
  flash-off: '\e9ab',
  flash-off-fill: '\e9ac',
  flip: '\e9ad',
  flip-2: '\e9ae',
  folder: '\e9af',
  folder-add: '\e9b0',
  folder-add-fill: '\e9b1',
  folder-fill: '\e9b2',
  folder-remove: '\e9b3',
  folder-remove-fill: '\e9b4',
  funnel: '\e9b5',
  funnel-fill: '\e9b6',
  gift: '\e9b7',
  gift-fill: '\e9b8',
  github: '\e9b9',
  github-fill: '\e9ba',
  globe: '\e9bb',
  globe-2: '\e9bc',
  globe-2-fill: '\e9bd',
  google: '\e9be',
  google-fill: '\e9bf',
  grid: '\e9c0',
  grid-fill: '\e9c1',
  hard-drive: '\e9c2',
  hard-drive-fill: '\e9c3',
  hash: '\e9c4',
  headphones: '\e9c5',
  headphones-fill: '\e9c6',
  heart: '\e9c7',
  heart-fill: '\e9c8',
  height: '\e9c9',
  home: '\e9ca',
  home-fill: '\e9cb',
  image: '\e9cc',
  image-fill: '\e9cd',
  impersonate-fill: '\e9ce',
  inbox: '\e9cf',
  inbox-fill: '\e9d0',
  info: '\e9d1',
  info-fill: '\e9d2',
  keypad: '\e9d3',
  keypad-fill: '\e9d4',
  layers: '\e9d5',
  layers-fill: '\e9d6',
  layout: '\e9d7',
  layout-fill: '\e9d8',
  link: '\e9d9',
  link-2: '\e9da',
  linkedin: '\e9db',
  linkedin-fill: '\e9dc',
  list: '\e9dd',
  loader: '\e9de',
  lock: '\e9df',
  lock-fill: '\e9e0',
  log-in: '\e9e1',
  log-out: '\e9e2',
  map: '\e9e3',
  map-fill: '\e9e4',
  maximize: '\e9e5',
  maximize-fill: '\e9e6',
  menu: '\e9e7',
  menu-2: '\e9e8',
  menu-arrow: '\e9e9',
  message-circle: '\e9ea',
  message-circle-fill: '\e9eb',
  message-square: '\e9ec',
  message-square-fill: '\e9ed',
  mic: '\e9ee',
  mic-fill: '\e9ef',
  mic-off: '\e9f0',
  mic-off-fill: '\e9f1',
  minimize: '\e9f2',
  minimize-fill: '\e9f3',
  minus: '\e9f4',
  minus-circle: '\e9f5',
  minus-circle-fill: '\e9f6',
  minus-square: '\e9f7',
  minus-square-fill: '\e9f8',
  monitor: '\e9f9',
  monitor-fill: '\e9fa',
  moon: '\e9fb',
  moon-fill: '\e9fc',
  more-horizontal: '\e9fd',
  more-vertical: '\e9fe',
  move: '\e9ff',
  music: '\ea00',
  music-fill: '\ea01',
  navigation: '\ea02',
  navigation-2: '\ea03',
  navigation-2-fill: '\ea04',
  navigation-fill: '\ea05',
  npm: '\ea06',
  npm-fill: '\ea07',
  options: '\ea08',
  options-2: '\ea09',
  options-2-fill: '\ea0a',
  options-fill: '\ea0b',
  pantone: '\ea0c',
  pantone-fill: '\ea0d',
  paper-plane: '\ea0e',
  pause-circle: '\ea0f',
  pause-circle-fill: '\ea10',
  people: '\ea11',
  people-cog: '\ea12',
  people-fill: '\ea13',
  percent: '\ea14',
  person: '\ea15',
  person-add: '\ea16',
  person-add-fill: '\ea17',
  person-delete: '\ea18',
  person-delete-fill: '\ea19',
  person-done: '\ea1a',
  person-done-fill: '\ea1b',
  person-fill: '\ea1c',
  person-remove: '\ea1d',
  person-remove-fill: '\ea1e',
  phone: '\ea1f',
  phone-call: '\ea20',
  phone-call-fill: '\ea21',
  phone-fill: '\ea22',
  phone-missed: '\ea23',
  phone-missed-fill: '\ea24',
  phone-off: '\ea25',
  phone-off-fill: '\ea26',
  pie-chart: '\ea27',
  pie-chart-fill: '\ea28',
  pie-chart-fill-2: '\ea29',
  pin: '\ea2a',
  pin-fill: '\ea2b',
  play-circle: '\ea2c',
  play-circle-fill: '\ea2d',
  plus: '\ea2e',
  plus-circle: '\ea2f',
  plus-circle-fill: '\ea30',
  plus-square: '\ea31',
  plus-square-fill: '\ea32',
  power: '\ea33',
  pricetag: '\ea34',
  pricetag-fill: '\ea35',
  printer: '\ea36',
  printer-fill: '\ea37',
  puzzle: '\ea38',
  question-mark: '\ea39',
  question-mark-circle: '\ea3a',
  question-mark-circle-fill: '\ea3b',
  radio: '\ea3c',
  radio-button-off: '\ea3d',
  radio-button-on: '\ea3e',
  radio-button-on-fill: '\ea3f',
  radio-fill: '\ea40',
  recording: '\ea41',
  recording-fill: '\ea42',
  refresh: '\ea43',
  repeat: '\ea44',
  rewind-left: '\ea45',
  rewind-left-fill: '\ea46',
  rewind-right: '\ea47',
  rewind-right-fill: '\ea48',
  rise: '\ea49',
  save: '\ea4a',
  save-fill: '\ea4b',
  scissors: '\ea4c',
  search: '\ea4d',
  settings: '\ea4e',
  settings-2: '\ea4f',
  settings-2-fill: '\ea50',
  settings-fill: '\ea51',
  shake: '\ea52',
  share: '\ea53',
  share-fill: '\ea54',
  shield: '\ea55',
  shield-fill: '\ea56',
  shield-off: '\ea57',
  shield-off-fill: '\ea58',
  shopping-bag: '\ea59',
  shopping-bag-fill: '\ea5a',
  shopping-cart: '\ea5b',
  shopping-cart-fill: '\ea5c',
  shuffle: '\ea5d',
  shuffle-2: '\ea5e',
  skip-back: '\ea5f',
  skip-back-fill: '\ea60',
  skip-forward: '\ea61',
  skip-forward-fill: '\ea62',
  slash: '\ea63',
  smartphone: '\ea64',
  smartphone-fill: '\ea65',
  sort: '\ea66',
  speaker: '\ea67',
  speaker-fill: '\ea68',
  square: '\ea69',
  star: '\ea6a',
  star-fill: '\ea6b',
  stop-circle: '\ea6c',
  stop-circle-fill: '\ea6d',
  stopwatch: '\ea6e',
  sun: '\ea6f',
  sun-fill: '\ea70',
  swap: '\ea71',
  sync: '\ea72',
  text: '\ea73',
  thermometer: '\ea74',
  thermometer-fill: '\ea75',
  thermometer-minus: '\ea76',
  thermometer-minus-fill: '\ea77',
  thermometer-plus: '\ea78',
  thermometer-plus-fill: '\ea79',
  timer: '\ea7a',
  timer-fill: '\ea7b',
  toggle-left: '\ea7c',
  toggle-left-fill: '\ea7d',
  toggle-right: '\ea7e',
  toggle-right-fill: '\ea7f',
  trash: '\ea80',
  trash-2: '\ea81',
  trash-2-fill: '\ea82',
  trash-fill: '\ea83',
  trending-down: '\ea84',
  trending-up: '\ea85',
  tv: '\ea86',
  tv-fill: '\ea87',
  twitter: '\ea88',
  twitter-fill: '\ea89',
  umbrella: '\ea8a',
  umbrella-fill: '\ea8b',
  undo: '\ea8c',
  undo-fill: '\ea8d',
  unlock: '\ea8e',
  unlock-fill: '\ea8f',
  upload: '\ea90',
  video: '\ea91',
  video-fill: '\ea92',
  video-off: '\ea93',
  video-off-fill: '\ea94',
  volume: '\ea95',
  volume-down: '\ea96',
  volume-down-fill: '\ea97',
  volume-fill: '\ea98',
  volume-off: '\ea99',
  volume-off-fill: '\ea9a',
  volume-up: '\ea9b',
  volume-up-fill: '\ea9c',
  weight: '\ea9d',
  weight-fill: '\ea9e',
  wifi: '\ea9f',
  wifi-off: '\eaa0',

  // Extra Icons
);

