<p>monitor-group-list works!</p>
<h1>{{'i18ntest' | translate}}</h1>
<p>{{'hello' | translate}}</p>
<ng-container>
  <app-customized-table
    #monitorGroupsTable
    [data]="tableData"
    dataUrl="http://localhost:8080/monitor-groups/communityId?communityId=10418"
    tableSettingsSaveUrl="/user-administration/table-settings/settings"
    getTableSettingsUrl="/user-administration/table-settings/users"
    tableName="monitorGroups"
    exportUrl="/user-administration/users/export"
    defaultSortField="userName"
    [resizableColumns]="true"
    [tableColumns]="tableColumns"
    [reorderableColumns]="true"
    [globalFilterFields]="['loginId', 'userName']"
    [totalRecords]="totalRecords"
    [defaultFilters]="defaultFilters"
    [availableFilters]="availableFilters"
    [enableActionsRules]="enableActionsRules"
    [availableActions]="availableTableActions"
    [alwaysShowPaginator]="true"
    [defaultSortOrder]="1"
    (actionSelected)="handleSelectedAction($event)"
    (lazyLoad)="onLazyLoad($event)"
    (selectFilterColumns)="getSelectedFilters($event)"
    (changeAutocompleteFilter)="onChangeAutocompleteFilter($event)"
    (onGetTableSettings)="getSelectedFilters($event)"
    (moreButtonBlur)="onBlurMoreButton()"
  ></app-customized-table>
</ng-container>

