<h2 *ngIf="isSpcHomePage()">{{ 'spc.title' | translate}}</h2>
<br>
<ng-container>
  <spc-home-list *ngIf="isSpcHomePage() && homePage.spcHomePage"></spc-home-list>
  <spc-monitor-group-home *ngIf="homePage.monitorGroupHomePage"></spc-monitor-group-home>
  <spc-function-home *ngIf="homePage.functionHomePage"></spc-function-home>
  <spc-monitor-home *ngIf="homePage.monitorHomePage"></spc-monitor-home>
  <spc-chart-home *ngIf="homePage.chartHomePage"></spc-chart-home>
  <spc-email-home *ngIf="homePage.emailHomePage"></spc-email-home>
  <spc-lock-home *ngIf="homePage.lockHomePage"></spc-lock-home>
  <spc-location-family-home *ngIf="homePage.locationFamilyHomePage"></spc-location-family-home>
  <spc-system-log-home *ngIf="homePage.systemLogHomePage"></spc-system-log-home>
  <spc-system-parameter-home *ngIf="homePage.systemParameterHomePage"></spc-system-parameter-home>
</ng-container>

