<app-aside-togglable
  class="columns-2"
  [openAside]="true"
  titleLabel="{{asideTitle | translate}}"
  [showLoading]="netUserOptions?.length === 0 || timeZonesInfoOptions?.length === 0"
  [showAsideList]="false"
  (closeClick)="closeForm()"
>
  <div #formMonitorGroup class="monitorGroupForm-section" [formGroup]="monitorGroupForm">
    <div class="monitorGroupForm-header">
      <h3>{{ 'spc.monitor-groups.label.monitor-group-information' | translate }}</h3>
    </div>

    <div class="form-group">
      <label>{{ 'spc.monitor-groups.label.group-name' | translate }}</label>
      <span class="required">*</span>
      <input
        id="name"
        type="text"
        formControlName="name"
        maxlength="128"
        placeholder="{{ 'spc.monitor-groups.label.group-name-placeholder' | translate }}"
      />
      <customized-is-field-valid
        [displayError]="monitorGroupForm.isFieldRequired('name')"
        errorMsg="{{ 'general.error.required' | translate }}"
      ></customized-is-field-valid>
    </div>

    <div class="form-group">
      <label>{{ 'spc.monitor-groups.label.data-source-type' | translate }}</label>
      <span class="required">*</span>
      <!--[formControl]="monitorGroupForm.controls['datasourceType']"-->
      <app-customized-dropdown
        #dataSourceTypeDropdown
        [options]="this.dataSourceTypeOptions"
        [selectedOption]="this.selectedDataSourceTypeOption"
        [placeholder]="'spc.monitor-groups.label.data-source-type-placeholder' | translate"
        [optionLabel]="'name'"
        [showClear]="false"
        [disabled]="false"
        [autofocus]="true"
        formControlName="datasourceType"
      ></app-customized-dropdown>
      <customized-is-field-valid
        [displayError]="monitorGroupForm.isFieldRequired('datasourceType')"
        errorMsg="{{ 'general.error.required' | translate }}"
      ></customized-is-field-valid>
    </div>

    <div class="form-group">
      <label>{{ 'spc.monitor-groups.label.shop-floor-id' | translate }}</label>
      <span class="required">*</span>
      <app-customized-dropdown
        #shopFloorIdDropdown
        [options]="this.netUserOptions"
        [selectedOption]="this.selectedNetUserOption"
        [placeholder]="'spc.monitor-groups.label.shop-floor-id-placeholder' | translate"
        [optionLabel]="'netUserId'"
        [showClear]="false"
        [disabled]="false"
        [autofocus]="true"
        formControlName="netUserId"
      ></app-customized-dropdown>
      <customized-is-field-valid
        [displayError]="monitorGroupForm.isFieldRequired('netUserId')"
        errorMsg="{{ 'general.error.required' | translate }}"
      ></customized-is-field-valid>
    </div>

    <div class="form-group">
      <label>{{ 'spc.monitor-groups.label.shop-floor-timezone' | translate }}</label>
      <span class="required">*</span>
      <app-customized-dropdown
        #shopFloorIdDropdown
        [options]="this.timeZonesInfoOptions"
        [selectedOption]="this.selectedTimeZoneInfoOption"
        [placeholder]="'spc.monitor-groups.label.shop-floor-timezone-placeholder' | translate"
        [optionLabel]="'fullTime'"
        [showClear]="false"
        [disabled]="false"
        [autofocus]="true"
        formControlName="sfdcTimezone"
      ></app-customized-dropdown>
      <customized-is-field-valid
        [displayError]="monitorGroupForm.isFieldRequired('sfdcTimezone')"
        errorMsg="{{ 'general.error.required' | translate }}"
      ></customized-is-field-valid>
    </div>

    <div class="form-group">
      <label>{{ 'spc.monitor-groups.label.description' | translate }}</label>
      <input
        id="description"
        type="text"
        formControlName="description"
        maxlength="1024"
        placeholder="{{ 'spc.monitor-groups.label.description-placeholder' | translate }}"
      />
    </div>
  </div>

  <div class="monitorGroupForm-actions">
    <div>
      <button class="btn-cancel" (click)="closeForm()">
        {{ 'general.label.cancel' | translate }}
      </button>
      <span>
        <button
          *ngIf="formState !== state.copy && formState !== state.view"
          class="btn-add"
          (click)="saveMonitorGroup()"
          (keydown.Tab)="saveMonitorGroupTabPressed($event)"
        >
            {{ formState === state.add ? ('spc.monitor-groups.label.add-monitor-group' | translate) : ('general.label.save' | translate) }}
        </button>
      </span>
    </div>
  </div>
</app-aside-togglable>
